{% extends "finalapp/layout.html" %}
{% block body %}
<div class="main-heading">
        Grade Book
</div>
<div class="container2">

    <div class="subheading">
        <h3>
            Welcome to the Grade Book project! Our platform aims to make the job of doctors and teachers much easier at the end of the semester. With the help of this tool, educators can efficiently manage and analyze their students' grades, generate valuable statistics, and obtain the necessary formats effortlessly.
        </h3>
    </div>
    <div class="feature-list">
        <h2>
            Features and Benefits:
        </h2>
        <ul>
            <li><span class='headding'>Grade Management:</span> The Grade Book provides a user-friendly interface to record and organize students' grades throughout the semester. Teachers can easily input and update scores for various assessments, making it simple to keep track of individual student progress.</li>
            <li><span class='headding'>CSV File Upload:</span> To save time, teachers can upload a CSV file containing student information, including names, IDs, and other relevant details, directly into the Grade Book. This feature enables quick and seamless addition of students to the system.</li>
            <li><span class='headding'> Add Students Individually:</span> Teachers also have the option to add students one by one manually through the Grade Book's intuitive interface. Whether you have a few new students joining your class or need to make individual updates, this feature allows for easy data entry.</li>
            <li><span class='headding'> Multiple Classrooms:</span> The Grade Book allows users to create and manage multiple classrooms. Each classroom can have its set of students, making it convenient for teachers handling more than one class.</li>
            <li><span class='headding'>Customizable Grade Formats: </span> Teachers can customize the grading format according to their preference. Whether it's numeric grades, letter grades (A-B-C-D-F), or any other order, the Grade Book will accommodate your needs.</li>
            <li><span class='headding'>Comprehensive Statistics: </span> Our platform automatically generates comprehensive statistics based on the entered grades. Teachers can view essential insights such as average, minimum, and maximum grades, providing a clear overview of class performance.</li>
            <li><span class='headding'>Student Mark IDs:</span>Each student is assigned a unique mark ID, which allows them to access their grades on the website securely. This feature ensures data privacy and provides students with personalized access to their academic performance.</li>
            <li><span class='headding'>Editable Student Information:</span> Teachers have the flexibility to edit or delete student information directly from the website. Whether it's updating personal details or correcting grades, the Grade Book makes it convenient to maintain accurate records.</li>
            <li> <span class='headding'>Interactive Graphs:</span> The Grade Book offers interactive graphs and charts to represent class performance visually. Notably, a pie chart displays the distribution of students' grades (A-B-C-D-F) in a user-friendly manner.</li>
            <li> <span class='headding'>Downloadable CSV Grade Reports:</span> At any point during the semester, teachers can download grade reports in CSV format, depending on their needs. These reports are ready to be shared with other stakeholders or imported into other tools for further analysis.</li>
        </ul>
    </div>
    <div class="how-to-use">
        <h2>guide to get started:</h2>
        <ol>
            <li> <span class='headding'>Login:</span> Access the Grade Book platform with your unique credentials to ensure that only authorized personnel can access the grade records.</li>
            <li> <span class='headding'>Add Classrooms:</span> Create multiple classrooms based on your teaching assignments, and manage students efficiently in each classroom.</li>
            <li> <span class='headding'>
                Add Students:</span> There are two ways to add students to your classroom:
                <ol>
                    <li> <span class='headding'>Upload CSV:</span> To add multiple students quickly, upload a CSV file containing their information and mark IDs directly into the Grade Book.</li>
                    <li> <span class='headding'>Manual Entry:</span> For individual student additions or updates, use the Grade Book's intuitive interface to enter their details one by one.</li>
                </ol>
            </li>
            <li> <span class='headding'>Generate Reports:</span> At the end of the semester, you can generate insightful reports and view statistics to gauge the overall class performance and identify individual students' strengths and weaknesses.</li>
            <li> <span class='headding'>Customize Formats:</span> Towards the end of the semester, customize the report format as needed, ensuring it aligns perfectly with your requirements.</li>
        </ol>
    </div>
    <div class="css-styling">
        <h3>    
         the Grade Book's interface is visually appealing and user-friendly. The CSS style sheets have been optimized to ensure a seamless experience across various devices, creating an engaging and pleasant user interface.
        </h3>
    </div>
    <div class="join-us">
        <p>
            Experience the convenience and efficiency of the Grade Book project yourself. Sign up now and simplify your workload, making your job as a doctor or teacher more manageable, while also gaining valuable insights into your students' academic progress.
        </p>
        <p>
            Thank you for choosing Grade Book. We look forward to enhancing your teaching experience!
        </p>
    </div>
</div>

  <footer class="footer">
    <p>&copy; 2023 Grade Book Project. All rights reserved.</p>
  </footer>
{% endblock %}